In [2]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [3]:
print("hello")

hello

In [5]:
lst = [1,2,3,4,5,6,7,8,9]

In [7]:
 %timeit [i**2 for i in lst]

2.63 µs ± 30.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [8]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [10]:
import numpy as np
arr = [1,2,3,4,5,6]
arr

[1, 2, 3, 4, 5, 6]

In [12]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import pandas as pd

df = pd,dataframe(data = arr1)

df

NameError: ignored